<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckfinder/ckfinder.js"></script>
<form id="question" method="POST" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" name="type" id="type" value="HTML" />
    <input type="hidden" name="surveyId" id="surveyId" value="{{surveyId}}" />
    <input type="hidden" name="pageId" id="pageId" value="{{pageId}}" />
    <input type="hidden" name="questionId" id="questionId" value="{{questionId}}" />
    <input type="hidden" name="mode" id="mode" value="{{mode}}" />
    <div class="col-sm-12 col-md-12">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <strong>HTML</strong><br />Please enter your content below
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <textarea style="width:100%;" rows="10" name="content" id="content">{{questionText}}</textarea>
                <script>
                //CKEDITOR.replace( 'body' );
                var editor = CKEDITOR.replace( 'content',
                    {
                        filebrowserBrowseUrl : '/ckfinder.html',
                    });
                CKFinder.config.rememberLastFolder = false;
                CKFinder.config.startupPath = "Images:";
                //CKFinder.setupCKEditor( editor, '../' ) ;
                </script>
            </div>
        </div>
    </div>
</form>