<form id="question" method="POST" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" name="type" id="type" value="TEXT" />
    <input type="hidden" name="surveyId" id="surveyId" value="{{surveyId}}" />
    <input type="hidden" name="pageId" id="pageId" value="{{pageId}}" />
    <input type="hidden" name="questionId" id="questionId" value="{{questionId}}" />
    <input type="hidden" name="mode" id="mode" value="{{mode}}" />
    <div class="col-sm-12 col-md-12">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <strong>Text</strong>
            </div>
            <div class="col-sm-5 col-md-5">
                <input type="checkbox" name="showSuggestedQuestions" id="showSuggestedQuestions" /> <label for="showSuggestedQuestions" data-toggle="tooltip" title="Autocomplete question entry using question bank">Show Auto Complete</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <input type="text" name="questionText" id="questionText" placeholder="Enter your question" style="width:100%;" value="{{questionText}}" />
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-12 col-md-12">
                {{#if type desired="true" type=isTextArea}}
                    <input type="checkbox" name="makeTextarea" id="makeTextarea" CHECKED /> <label for="makeTextarea">Allow more than one line in the response (textarea)</label>
                {{else}}
                    <input type="checkbox" name="makeTextarea" id="makeTextarea" /> <label for="makeTextarea">Allow more than one line in the response (textarea)</label>
                {{/if}}
            </div>
        </div>
    </div>
</form>